{#<!doctype html>#}
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}
    
    {% endblock %} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/trainer/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/trainer/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/slicknav.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/flaticon.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/gijgo.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/animate.min.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/animated-headline.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/slick.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/nice-select.css">
    <link rel="stylesheet" href="../../static/trainer/assets/css/style.css">
</head>
<body >
    <!-- ? Preloader Start -->
{#    <div id="preloader-active">#}
{#        <div class="preloader d-flex align-items-center justify-content-center">#}
{#            <div class="preloader-inner position-relative">#}
{#                <div class="preloader-circle"></div>#}
{#                <div class="preloader-img pere-text">#}
{#                    <img src="../../static/trainer/assets/img/logo/loder.png" alt="">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

     <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="../../static/trainer/assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/trainer_home">Home</a></li>
                                    <li><a href="/trainer_view_times_schedule">Time Schedule</a></li>
                                    <li><a href="/trainer_view_video">Online Training Video</a></li>
                                    <li><a href="/Trainer_view_accepted_work">Work</a></li>
                                    <li><a href="/Triner_View_Attandance">View Attandance</a>

                                    </li>

                                </ul>
                            </nav>
                        </div>          
                        <!-- Header-btn -->
                        <div class="header-btns d-none d-lg-block f-right">
                           <a href="/" class="btn">LOGOUT</a>
                       </div>
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

    <section class="section py-5 my-5" id="features">
    <br>
    <br>
    <br>
    <br>
         {% block body %}
            {% endblock %}
{#        <div class="container">#}
{##}
{#        </div>#}
    </section>
<!-- JS here -->

<script src="../../static/trainer/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../../static/trainer/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../../static/trainer/assets/js/popper.min.js"></script>
<script src="../../static/trainer/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../../static/trainer/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../../static/trainer/assets/js/owl.carousel.min.js"></script>
<script src="../../static/trainer/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../../static/trainer/assets/js/wow.min.js"></script>
<script src="../../static/trainer/assets/js/animated.headline.js"></script>
<script src="../../static/trainer/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="../../static/trainer/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="../../static/trainer/assets/js/jquery.nice-select.min.js"></script>
<script src="../../static/trainer/assets/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../../static/trainer/assets/js/jquery.counterup.min.js"></script>
<script src="../../static/trainer/assets/js/waypoints.min.js"></script>
<script src="../../static/trainer/assets/js/jquery.countdown.min.js"></script>
<script src="../../static/trainer/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../../static/trainer/assets/js/contact.js"></script>
<script src="../../static/trainer/assets/js/jquery.form.js"></script>
<script src="../../static/trainer/assets/js/jquery.validate.min.js"></script>
<script src="../../static/trainer/assets/js/mail-script.js"></script>
<script src="../../static/trainer/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="../../static/trainer/assets/js/plugins.js"></script>
<script src="../../static/trainer/assets/js/main.js"></script>

</body>
{#</html>#}