{% extends 'trainer/header.html' %}
{% block title %}
VIEW TIME SCHEDULE
{% endblock %}
{% block body %}

<body>
<div class="container">
<table width="200" border="1" cellspacing="4" cellpadding="4">
  <tr>
      <th>no</th>
    <td >user</td>
    <td>from</td>
    <td>to</td>

  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;&nbsp;{{ forloop.counter }}</th>
    <td>{{ i.USER.name }}&nbsp;</td>
    <td>&nbsp;{{ i.from_time }}</td>
    <td>&nbsp;{{ i.to_time }}</td>
  </tr>
    {% endfor %}
</table>
</div>
</body>




    <style>
    body{
         background-image: url('/static/trainer/assets/img/gallery/section_bg02.png');
        background-repeat: no-repeat;
        background-size:cover

    }
    table{
        width: 100%;
        border-color:#5d6072;
        color: white;
    }


    </style>
{% endblock %}
