{% extends 'admin/index2.html' %}

{% block tile %}
VIEW USER
{% endblock %}
{% block body %}
<body>
<div class="container">
  <table width="200" border="1">
    <tr>
      <th>no</th>
      <th>image</th>
      <th>name</th>
      <th>phone</th>
      <th>mail</th>
      <th>Assign fee</th>


    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;<img height="100px" width="100px" src="{{ i.image.url }}" alt="" srcset=""></td>
      <td>&nbsp;{{ i.name }}</td>
      <td>&nbsp;{{ i.phone  }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>&nbsp;<a href="/admin_assign_fees/{{i.id}}" class="btn btn-outline-primary">ASSIGN</a></td>

    </tr>
      {% endfor %}
  </table>

</div>




<style>
    body{
        display: grid;
  grid-template-rows: 1fr auto; /* Main content takes available space; footer takes minimal space */
  min-height: 100vh;
        background-image: url('/static/admin/assets/images/contact-bg.jpg');
        background-repeat: no-repeat;
        background-size:cover


    }
   table{
       width: 100%;
       color: #ed563b;
   }
    th{
        background-color: black;
    }

</style>
</body>
{% endblock %}
