{% extends 'admin/index2.html' %}

{% block tile %}
WORK ALLOCATION
{% endblock %}
{% block body %}
<body>
<div class="container">
<form id="form1" name="form1" method="post" action="/admin_work_allocation_post">
<table width="380" height="154" border="1" cellpadding="4" cellspacing="4">
  <tr>
    <th width="123" scope="row">work</th>
    <td width="223">
      <label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="text"/>
   </td>
  </tr>
  <tr>
    <th scope="row">date</th>
    <td><input type="date" name="textfield2" id="textfield2" class="text"/></td>
  </tr>
  <tr>
    <th scope="row">time</th>
    <td><input type="time" name="textfield3" id="textfield3"class="text" /></td>
  </tr>
    <tr colspan="2">
      <td><center><input type="submit" value="submit" class="btn btn-outline-success"></center></td>
    </tr>
</table>
        </form>
    </div>
</body>


    <style>
    body{
        display: grid;
  grid-template-rows: 1fr auto; /* Main content takes available space; footer takes minimal space */
  min-height: 100vh;
        background-image: url('/static/admin/assets/images/contact-bg.jpg');
        background-repeat: no-repeat;
        background-size:cover


    }
    table{
        color: #ed563b;
        width: 100%;
        border-color: black;
    }
    .text{
        border-top: transparent;
        background-color:inherit;
        border-left: transparent;
        border-right: transparent;
        color:#ed563b ;

    }

    </style>

{% endblock %}
